.expo {
	margin-bottom: 2rem;
}

.expo__img-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.expo__fixed-ratio-container {
	flex: 0 0 50%;
}

.expo__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
