.expo {
	margin-bottom: 2rem;
	flex: 0 0 100%;
}

@media (min-width: 570px) {
	.expo {
		flex: 0 0 calc(50% - 0.5rem);
	}
}

@media (min-width: 920px) {
	.expo {
		flex: 0 0 calc(33.33% - 1rem);
	}
}

.expo__img-container {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 1rem;
}

.expo__fixed-ratio-container {
	flex: 0 0 50%;
}

.expo__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.expo__summary {
	margin-bottom: 1rem;
}
